<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>hangman</title>
    <meta name="description" content="">
    <meta name="author" content="Kira Pilot">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

   <!--  angularCdn -->
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <!--   endAngularCdn -->

    <!-- fileblock:js appScripts -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/bodyController.js"></script>
    <script src="javascripts/hangmanController.js"></script>
    <script src="javascripts/randomWordService.js"></script>
    <script src="javascripts/hgHangmanImageDirective.js"></script>
    <!-- endfileblock -->

    <!-- fileblock:css appStyles -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <!-- endfileblock -->

</head>


<body ng-controller="hangmanController" >
    <div class="container">

        <h1>{{greeting}}</h1>

        <p>{{makeSpaces}}</p>

        <hg-hangman-image incorrect-count="{{wrongLetters.length}}"></hg-hangman-image>

        <!-- form -->
        <form class="form" ng-submit="submit()">
            <div class="form-group" ng-class="{'has-error': form.guessError}">
                Guess a letter! 
                <br>
                <div class="controls">
                    <input type="text" class="form-control" name="letter" ng-model="form.guess"> 
                </div>
                <br>
                <button class="btn btn-default" type="submit">Submit!</button>
            </div>
        </form>
        <!-- form end -->

        <!-- form validation -->
        <div ng-if="wrongLetters.length!==0">
            <div>
                <p><h3>Incorrect Guesses</h3></p>
            </div>
            <div class="alert alert-danger">
                <p>{{wrongLetters.join(', ')}}</p>
            </div>
            <div ng-if="wrongLetters.length==5">
                <p><h4>Stop hanging me.</h4></p>
            </div>
        </div> 
        <div class="alert alert-danger" ng-if="form.guessError">
            <p>Please enter 1 letter.</p>
        </div>
        <!-- form validation end -->
        


        <form class="form-group" ng-if="showRestart">
            <button class="btn btn-default" ng-click="resetGame()">Play Again?</button>
        </form>


        
        
    </div>



</body>

</html>
