body {
  padding: 50px;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Oswald;
  background-color: #000000;
}

a {
  color: #00B7F;
}

input {
	max-width: 40px;
	margin: 0 auto;
}